.sectionHeader {
	color: #666;
	margin: 0 auto 8px auto;
	width: 100%;
}

// -----------------------------------------------------------------------------

@media print {
	.sectionHeader {
		color: #000;
		text-align: left;
	}
}
