.container {
	composes: genericContainer from '../style.scss';

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		& + li {
			margin-top: 16px;
		}
	}
}

// -----------------------------------------------------------------------------

@media print {
	.container {
		li {
			page-break-inside: avoid;
			break-inside: avoid-page;
		}
	}
}
