.experience {
}

.header {
	display: flex;
	flex-wrap: wrap;

	strong {
		flex-grow: 1;
	}

	em {
		flex-shrink: 0;
	}
}

.areas,
.contact {
	font-size: 0.9em;
}

.areas {
	font-weight: bold;
}

.description {
	margin-top: 8px;

	p {
		margin: 0;

		& + p {
			margin-top: 4px;
		}
	}
}

// -----------------------------------------------------------------------------

@media print {
	.experience {
		page-break-inside: avoid;
		break-inside: avoid;

		a {
			color: #000;
		}

		p {
			orphans: 3;
			widows: 3;
			page-break-inside: avoid;
			break-inside: avoid;
		}
	}
}
