.container {
	composes: genericContainer from '../style.scss';
}

.content {
	font-style: italic;
	position: relative;

	&:before {
		content: '❝';
		position: absolute;
		left: -21px;
		top: 0px;
		font-size: 1.9em;
	}
}
