.loadingIndicator {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.loadingIndicator svg {
	animation: spinner 1s infinite linear;
	height: 48px;
	width: 48px;
}

.loadingIndicator circle {
	animation: pulse 2s infinite ease-in-out;
	transform-origin: 50% 50%;
	fill: transparent;
	stroke: #666;
	stroke-dasharray: 96;
	stroke-linecap: round;
	stroke-width: 8;
}

// -----------------------------------------------------------------------------

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.75);
	}

	100% {
		transform: scale(1);
	}
}
