.container,
.fakeContainer {
	background: #ffa;
	font-size: 0.75em;
}

.container {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9;
}

.content {
	flex-direction: row;
	justify-content: center;
	padding: 4px;

	a {
		text-decoration: none;
	}

	span {
		padding: 0 8px;
	}

	svg {
		margin-top: 1px;
		margin-right: 2px;
		opacity: 0.66;
	}
}

// -----------------------------------------------------------------------------

@media print {
	.container,
	.fakeContainer {
		display: none;
	}
}
