.container {
	align-items: center;
	background: #fff;
	display: flex;
	flex-direction: column;
	padding-bottom: 2in;
}

.genericContainer {
	padding-top: 16px;
}

/* ----------------------------------------------------------------------------- */

@media print {
	.container {
		align-items: unset;
		flex-direction: unset;
		display: initial;
		padding-bottom: 0;
	}
}
