:global {
	* {
		box-sizing: border-box;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		height: 100%;
	}

	html,
	body,
	input,
	textarea {
		font-family: arial;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}
}

// -----------------------------------------------------------------------------

@media print {
	:global {
		html,
		body {
			background: none;
		}
	}
}
